.cart__block {
  display: flex;
  align-items: center;
  position: relative;
}

.cart__block__total__price {
  margin-left: 15px;
  font-size: 18px;
  font-weight: bold;
}

.cart__block__icon {
  cursor: pointer;
  position: relative;
}
